/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-char1 {
  background-image: url(../sprites/images.png);
  background-position: -4253px -1044px;
  width: 1074px;
  height: 1063px;
}
.icon-char2 {
  background-image: url(../sprites/images.png);
  background-position: 0px 0px;
  width: 1125px;
  height: 1309px;
}
.icon-char3 {
  background-image: url(../sprites/images.png);
  background-position: -5352px 0px;
  width: 1070px;
  height: 986px;
}
.icon-girlo1 {
  background-image: url(../sprites/images.png);
  background-position: -1096px -1309px;
  width: 1125px;
  height: 1052px;
}
.icon-girlo2 {
  background-image: url(../sprites/images.png);
  background-position: -2250px -2402px;
  width: 1125px;
  height: 1012px;
}
.icon-girlo3 {
  background-image: url(../sprites/images.png);
  background-position: -6422px -1009px;
  width: 879px;
  height: 932px;
}
.icon-girlo4 {
  background-image: url(../sprites/images.png);
  background-position: 0px -2402px;
  width: 1125px;
  height: 1029px;
}
.icon-girlo5 {
  background-image: url(../sprites/images.png);
  background-position: -4253px -2107px;
  width: 1063px;
  height: 1058px;
}
.icon-girls1 {
  background-image: url(../sprites/images.png);
  background-position: -5352px -1967px;
  width: 1032px;
  height: 1007px;
}
.icon-girls2 {
  background-image: url(../sprites/images.png);
  background-position: -5352px -986px;
  width: 1064px;
  height: 981px;
}
.icon-girls3 {
  background-image: url(../sprites/images.png);
  background-position: -1125px -2402px;
  width: 1125px;
  height: 1021px;
}
.icon-girls4 {
  background-image: url(../sprites/images.png);
  background-position: -5352px -2974px;
  width: 992px;
  height: 989px;
}
.icon-girls5 {
  background-image: url(../sprites/images.png);
  background-position: -1058px -3431px;
  width: 1103px;
  height: 983px;
}
.icon-girls6 {
  background-image: url(../sprites/images.png);
  background-position: -3155px -1074px;
  width: 1080px;
  height: 1017px;
}
.icon-girls7 {
  background-image: url(../sprites/images.png);
  background-position: 0px -3431px;
  width: 1058px;
  height: 1028px;
}
.icon-simplel1 {
  background-image: url(../sprites/images.png);
  background-position: -3180px -3431px;
  width: 1039px;
  height: 914px;
}
.icon-simplel2 {
  background-image: url(../sprites/images.png);
  background-position: 0px -4459px;
  width: 956px;
  height: 1008px;
}
.icon-simplel3 {
  background-image: url(../sprites/images.png);
  background-position: -2161px -3431px;
  width: 1019px;
  height: 937px;
}
.icon-simplel4 {
  background-image: url(../sprites/images.png);
  background-position: -6422px 0px;
  width: 955px;
  height: 1009px;
}
.icon-simplel5 {
  background-image: url(../sprites/images.png);
  background-position: -1125px 0px;
  width: 1014px;
  height: 1292px;
}
.icon-simplel6 {
  background-image: url(../sprites/images.png);
  background-position: -2139px 0px;
  width: 1016px;
  height: 1246px;
}
.icon-simplel7 {
  background-image: url(../sprites/images.png);
  background-position: 0px -1309px;
  width: 1096px;
  height: 1093px;
}
.icon-simpleo2 {
  background-image: url(../sprites/images.png);
  background-position: -4253px 0px;
  width: 1099px;
  height: 1044px;
}
.icon-simples1 {
  background-image: url(../sprites/images.png);
  background-position: -3155px 0px;
  width: 1098px;
  height: 1074px;
}
